<div fxLayoutAlign="space-between">
    <h3 class="m-0">Set Work Shifts:</h3>
    <h3 class="m-0">{{ today | date:'MMMM d, y | EEEE' }}</h3>
  </div>
  <mat-divider class="m-t-15 m-b-15"></mat-divider>
  
  <div fxLayoutAlign="space-between">
    <h4 class="m-0">Shift Types:</h4>
    <div>
      <button class="m-0" mat-raised-button (click)="OpenShiftDialog()">Add New Shift</button>
    </div>
  
  </div>
  
  <mat-divider class="m-t-15 m-b-15"></mat-divider>

  <div fxLayout="row" fxLayoutWrap="wrap">
      <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
          <mat-card-content>
            <!-- <mat-card-title>ADVANCED SEARCH</mat-card-title>
            <div class="bg-light p-10 p-r-20 p-l-20">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Employee">
              </mat-form-field>
            </div> -->
    
            <div class="table-responsive">
              <mat-table #table [dataSource]="dataSource">
               
                <!-- <ng-container matColumnDef="shiftID">
                  <mat-header-cell *matHeaderCellDef> Shift ID </mat-header-cell>
                  <mat-cell *matCellDef="let Shifts"> {{Shifts.shiftID}} </mat-cell>
                </ng-container> -->
    
              
                <ng-container matColumnDef="shift_Type">
                  <mat-header-cell *matHeaderCellDef> Shift Type </mat-header-cell>
                  <mat-cell *matCellDef="let Shifts"> {{Shifts.shift_Type}} </mat-cell>
                </ng-container>
    
                
                <ng-container matColumnDef="start_Time">
                  <mat-header-cell *matHeaderCellDef> Starts </mat-header-cell>
                  <mat-cell *matCellDef="let Shifts"> {{Shifts.start_Time}} </mat-cell>
                </ng-container>
    
                
                <ng-container matColumnDef="end_Time">
                  <mat-header-cell *matHeaderCellDef> Ends </mat-header-cell>
                  <mat-cell *matCellDef="let Shifts"> {{Shifts.end_Time}} </mat-cell>
                </ng-container>
  
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                    <mat-cell *matCellDef="let Roles">
                        <a mat-raised-button (click)="OpenShiftDialog()">Details</a>
                    </mat-cell>
                  </ng-container>
    
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
              <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
              </mat-paginator>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  
  <a mat-raised-button [routerLink]="['/dashboards/timekeeping']">Back</a>