<div fxLayout="column" fxLayoutAlign="center center" style="height: 100%" *ngIf="!confirmSave">
  <h6 class="m-0" style="margin: auto">
    <!-- Are you sure you want to add this employee? -->
    You have successfully added a new employee.
  </h6>
  <span fxLayoutAlign="center end">
    <button mat-button (click)="confirm()" (click)="closeDialog()" [routerLink]="['/dashboards/admin']">Ok</button>
  </span>
  </div>
  <!-- <span fxLayoutAlign="center end">
    <button mat-button (click)="confirm()">Yes</button>
    <button mat-button (click)="closeDialog()">No</button>
  </span> -->
  
<!-- </div>
<div fxLayout="column" fxLayoutAlign="center center" style="height: 100%" *ngIf="confirmSave">
<h6 class="m-0" style="margin: auto">
  You have successfully added a new employee
</h6>
<span fxLayoutAlign="center end">
  <a mat-raised-button (click)="closeDialog()" [routerLink]="['/dashboards/admin']">Ok</a>
</span>
</div> -->