<div fxLayoutAlign="space-between">
  <h3 class="m-0">Employee Information</h3>
  <h3 class="m-0">{{ today | date:'MMMM d, y | EEEE' }}</h3>
</div>
<mat-divider class="m-t-15 m-b-15"></mat-divider>

<div fxLayoutAlign="space-between">
  <a mat-raised-button [routerLink]="['/dashboards/admin']">Back</a> 
  <a mat-raised-button (click)="editEmployee()">Edit Employee</a> 
</div>
<mat-divider class="m-t-15 m-b-15"></mat-divider>

<h4 class="m-0">Personal Information:</h4>

  <form [formGroup]="employeeFormGroup">
    <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between">
      <div fxFlex.gt-md="30" fxFlex="30">   
      <mat-form-field>
        <input type="text" formControlName="lastName" placeholder="Last Name" matInput>
        <mat-error *ngIf="message.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      </div>
      <div fxFlex.gt-md="30" fxFlex="30"> 
        <mat-form-field>
          <input type="text" formControlName="firstName" placeholder="First Name" matInput>
          <mat-error *ngIf="message.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
    <div fxFlex.gt-md="30" fxFlex="30"> 
    <mat-form-field>
      <input type="text" formControlName="middleName" placeholder="Middle Name" matInput>
    </mat-form-field>
    </div>
   
    <div fxFlex="66" fxLayoutAlign="space-between">
      <div fxFlex.gt-md="50" fxFlex="50" style="display:flex;margin-top:15px">
          <label class="m-r-15" fxFlexAlign="auto" >Select Gender:</label>    
          <mat-radio-group class="gender" formControlName="gender">
            <div fxFlex.gt-md="30" fxFlex="30" fxLayout="row">
            <mat-radio-button class="gender m-r-15" *ngFor="let gender of genders" [value]="gender" placeholder="Gender">
              {{gender}}
            </mat-radio-button> 
          </div>
          </mat-radio-group>
          </div>

          <div fxFlex.gt-md="47" fxFlex="47" style="padding-right:8px;">
            <mat-form-field>
                <input matInput [matDatepicker]="birthdate" formControlName="birthdate" placeholder="Birthday:" readonly [max]="maxDate">
                <mat-error *ngIf="message.invalid">{{getErrorMessage()}}</mat-error>
                <mat-datepicker-toggle matSuffix [for]="birthdate"></mat-datepicker-toggle>
                <mat-datepicker #birthdate disabled="false"></mat-datepicker>
              </mat-form-field>
        </div>
      </div>
    </div>

<mat-divider class="m-t-15 m-b-15"></mat-divider>

<h4 class="m-0">Company Information</h4>
  <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between">
    <div fxFlex.gt-md="30" fxFlex="30">
        <mat-form-field>
        <input matInput [matDatepicker]="hiredDate" formControlName="hiredDate" placeholder="Date Hired:" readonly [max]="maxDate">
        <mat-error *ngIf="message.invalid">{{getErrorMessage()}}</mat-error>
        <mat-datepicker-toggle matSuffix [for]="hiredDate"></mat-datepicker-toggle>
        <mat-datepicker #hiredDate disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>

    <div fxFlex.gt-md="30" fxFlex="30">
      <mat-form-field>
        <input type="number" min="0" oninput="validity.valid || (value='');" formControlName="employeeID" matInput placeholder="Employee ID:">
        <mat-error *ngIf="message.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div fxFlex.gt-md="30" fxFlex="30">
      <mat-form-field>
        <mat-select formControlName="employeeStatus" placeholder="Employee Status">
          <mat-option class="employeeStatus" *ngFor="let employeeStatus of employeeStatus" [value]="employeeStatus" placeholder="Employee Status">{{employeeStatus}}</mat-option>
          </mat-select>
          <mat-error *ngIf="message.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      </div>
      </div>

  <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between">
        <div fxFlex.gt-md="30" fxFlex="30">
          <mat-form-field>
            <input type="text" formControlName="position" matInput placeholder="Position:">
            <mat-error *ngIf="message.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>

        <div fxFlex.gt-md="30" fxFlex="30">
          <mat-form-field>
            <mat-select formControlName="department" placeholder="Department">
              <mat-option class="department" *ngFor="let department of department" [value]="department" placeholder="Department">{{department}}</mat-option>
              </mat-select>
              <mat-error *ngIf="message.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
    
        <div fxFlex.gt-md="30" fxFlex="30">
          <mat-form-field>
            <input type="text" formControlName="project" matInput placeholder="Project:">
          </mat-form-field>
        </div>
   </div>

 <div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between">

  <div fxFlex.gt-md="30" fxFlex="30">
      <mat-form-field>
          <mat-select formControlName="activityType" placeholder="Cost Center">
            <mat-option class="activityType" *ngFor="let activityType of activityType" [value]="activityType" placeholder="Activity Type">{{activityType}}</mat-option>
            </mat-select>
            <mat-error *ngIf="message.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
  </div>

  <div fxFlex.gt-md="30" fxFlex="30">
      <mat-form-field>
      <input matInput [matDatepicker]="separatedDate" formControlName="separatedDate" placeholder="Separated Date" readonly [max]="maxDate">
      <mat-datepicker-toggle matSuffix [for]="separatedDate"></mat-datepicker-toggle>
      <mat-datepicker #separatedDate disabled="false"></mat-datepicker>
    </mat-form-field>
  </div>


  <div fxFlex.gt-md="30" fxFlex="30">
      <mat-form-field>
          <mat-select formControlName="shift" placeholder="Shift Type">
            <mat-option class="shift" *ngFor="let shift of shifts" [value]="shift" placeholder="Shift Type">{{shift}}</mat-option>
            </mat-select>
            <mat-error *ngIf="message.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
  </div>
</div> 

<mat-divider class="m-t-15 m-b-15"></mat-divider>

<h4 class="m-0">Government Numbers:</h4>

<div fxLayout="row" fxLayoutWrap="wrap" fxLayoutAlign="space-between">
  
  <div fxFlex.gt-md="30" fxFlex="30">
    <mat-form-field>
      <input type="number" min="0" oninput="validity.valid || (value='');" formControlName="ssSno" matInput placeholder="SSS No:">
      <mat-error *ngIf="message.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div> 

  <div fxFlex.gt-md="30" fxFlex="30">
    <mat-form-field>
      <input type="number" min="0" oninput="validity.valid || (value='');" formControlName="phiCno" matInput placeholder="PHIC No:">
      <mat-error *ngIf="message.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>

  <div fxFlex.gt-md="30" fxFlex="30">
    <mat-form-field>
      <input type="number" min="0" oninput="validity.valid || (value='');" formControlName="tiNno" matInput placeholder="TIN No:">
      <mat-error *ngIf="message.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
</div>

<div fxLayout="row" fxLayoutWrap="wrap">
 
  <div fxFlex.gt-md="30" fxFlex="30">
    <mat-form-field>
      <input type="number" min="0" oninput="validity.valid || (value='');" formControlName="hdmFno" matInput placeholder="HDMF No:">
      <mat-error *ngIf="message.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  </div> 
</form>


<mat-divider class="m-t-15 m-b-15"></mat-divider>

<div fxLayoutAlign="space-between">
  <a mat-raised-button *ngIf="!isVisibile" (click)="cancelEmployee()" [disabled]="!employeeFormGroup.valid">Cancel</a>
  <a mat-raised-button *ngIf="!isVisibile" (click)="updateEmployee(employeeFormGroup.value)" [disabled]="!employeeFormGroup.valid">Save</a> 
  
</div>
