.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: block;
    align-content: center;
    align-items: center;
    height: auto;
  }
  
  .example-margin {
    margin: 0 10px;
  }

  mat-checkbox {
      display: block;
  }